{{ ansible_managed | comment }}
SS_PORT={{ iceslab_zapret2_ss_port }}
SOCKS_PORT={{ iceslab_zapret2_socks_port }}
SS_PASSWORD={{ iceslab_zapret2_ss_password }}
SS_ENCRYPT_METHOD={{ iceslab_zapret2_encrypt }}
SS_TIMEOUT=300
SS_VERBOSE=0
